* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

img {
  height: 70px;
}
.nav {
  display: flex;
}
.nav-list {
  padding: 0 30px;
  font-size: 16px;
  width: 120px;
  line-height: 70px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fafafa;
}

.main_visu {
  width: 100%;
  height: 650px;
  background-image: url(mv.png);
  background-size: cover;
  background-position: center;
}
.main_visu_title {
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
}
.main_visu_text {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}
.portfolio {
  background-color: #eceff1;
  margin: 0 auto;
}

.po_block {
  width: 1024px;
  margin: 0 auto;
}
.po_title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.po_title::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.po_text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.po_imgs {
  margin: 0 auto;
  width: 920px;

  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 90px 0;
}

.po_img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.po_img:nth-child(3) {
  margin-right: 0px;
}
.po_img:nth-child(6) {
  margin-right: 0px;
}
.po_img1 {
  background-image: url(sketch.jpg);
  background-size: cover;
  background-position: center;
}
.po_img2 {
  background-image: url(websuku.png);
  background-size: cover;
  background-position: center;
}
.po_img3 {
  background-image: url(write.jpg);
  background-size: cover;
  background-position: center;
}
.po_img4 {
  background-image: url(webcamp.png);
  background-size: cover;
  background-position: center;
}
.po_img5 {
  background-image: url(talk.jpg);
  background-size: cover;
  background-position: center;
}
.po_img6 {
  background-image: url(webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

.Feature {
  background-color: #fff;
  margin: 0 auto;
}
.fe_block {
  width: 980px;
  margin: 0 auto;
}

.fe_title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.fe_title::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.fe_text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.fe_boxes {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.fe_box {
  font-size: 60px;
  width: 320px;
  height: auto;
  margin-right: 10px;
}
.fe_box3 {
  margin-right: 0;
}
.far {
  display: inline-block;
}
.fe_box_title {
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fe_box_text {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

footer {
  height: 60px;
  background-color: #ec715f;
  text-align: center;
}
.footer_text {
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

.Profile {
  background-color: #eceff1;
  margin: 0 auto;
}
.pro_block {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.pro_title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.pro_title::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.pro_text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.pro_boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.pro_box1 {
  width: 512px;
  display: flex;
  justify-content: center;
}
.pro_box2 {
  width: 512px;
}
.pro_box_img {
  width: 250px;
  height: 250px;
  background-image: url(my-icon.jpg);
  background-size: cover;
  border-radius: 50%;
}
.pro_box_title {
  margin-top: 20px;
  font-size: 20px;
}
.pro_box_text {
  font-size: 16px;
  color: #000000;
  margin-top: 5px;
}

.Contact {
  background-color: #fafafa;
  margin: 0 auto;
}
.co_block {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.co_title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  text-align: center;
}

.co_title::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.co_text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.co_boxes {
  display: flex;
  flex-wrap: wrap;
}
.co_box1 {
  width: 400px;
  margin: 0 auto;
}
.co_box2 {
  width: 400px;
  margin: 0 auto;
}

.co_box_title {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.co_box_title:first-child {
  margin-top: 0px;
}
.co_box_text {
  font-size: 16px;
  color: #000000;
  margin-top: 5px;
}
.co_box1_content {
  width: 130px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.co_box2_content {
  width: 190px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.co_box_imgs {
  font-size: 50px;
}
.fab {
  font-size: 50px;
  display: inline-block;
  margin-right: 20px;
}
.fab:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  header {
    flex: none;
    height: 50px;
  }
  .header-group {
    flex: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .logo {
    height: 50px;
  }
  .menu-box {
    width: 40px;
    height: 40px;
    border: 1px solid #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 5%;
  }
  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .list-bar:first-child {
    margin-top: 10px;
  }
  .nav-list {
    display: none;
    width: 100%;
    line-height: 50px;
    text-align: center;
  }
  .main_visu {
    width: 100%;
    height: 650px;
    background-image: url(code.png);
    background-size: cover;
    background-position: center;
  }

  .po_imgs {
    width: 300px;
  }

  .fe_boxes {
    flex-flow: row wrap;
    width: 320px;
  }

  .fe_box {
    margin-top: 18px;
    margin-right: 0;
  }
  .fe_box:first-child {
    margin-top: 0;
  }

  .pro_boxes {
    width: 100%;
    text-align: center;
  }
  .co_boxes {
    text-align: center;
  }
  .co_box2 {
    margin-top: 20px;
  }
  .fab {
    margin-right: 10px;
  }
  .fab:last-child {
    margin-right: 0;
  }
}
