s* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.up-img {
  background-image: url(img/mv.jpg);
  padding: 20px;
  width: 100%;
  height: 400px;
  background-position: bottom;
  background-size: cover;
}

.up-text {
  color: grey;
}

.text-maximum-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 840px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  width: 840px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  border-bottom: grey solid 1px;
}
